{
  "passPerPreset": true,
  "plugins": [
    "transform-async-to-generator",
    ["import", {
      "libraryName": "antd",
      "style": false  
      }]],
  "presets": [
    "es2015",
    "stage-3"
  ]
}
